{% extends "base.html" %}
{% block content %}

<h3>Add New Category</h3>
<div>
    <form method="POST" action="{{ url_for('add_category') }}">
        <!-- category name -->
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="category-name" placeholder="Category Name">
            <label for="category-name">Category Name</label>
          </div>
        <!-- submit button -->
        <div class="row">
            <div>
                <button type="submit" class="btn btn-primary"">
                    Add New Category <i class="fa-solid fa-plus-square right"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}