{% extends "base.html" %}
{% block content %}

<h3>Add New Category</h3>
<div class="container-fluid">
    <form method="POST" action="{{ url_for('add_category') }}">
        <!-- category name -->
        <div class="form-floating mb-12">
            <input type="text" class="form-control" id="category_name" name="category_name" placeholder="Category Name" minlength="3" maxlength="25" required>
            <label for="category_name">Category Name</label>
        </div>
        <!-- submit button -->
        <button type="submit" class=" form-control btn btn-primary wide-button">Add New Category <i class="fa-solid fa-plus-square right"></i>
        </button>
    </form>
</div>

{% endblock %}
