{% extends "base.html" %}
{% block content %}

<h3>Answer Question</h3>
<div class="container-fluid">
    <form method="POST" action="{{ url_for('answer_question', question_id=question.id) }}">
        <!-- question -->
        <div class="form-floating mb-12">
            <input type="text" class="form-control" id="question" name="question" value="{{ question.question }}" placeholder="Question" minlength="3" maxlength="250" required>
            <label for="question">Question</label>
        </div>
        <!-- answer -->
        <div class="form-floating mb-12">
            <input type="text" class="form-control" id="answer" name="answer" value="{{ question.answer }}" placeholder="Answer" minlength="3" maxlength="250" autofocus required>
            <label for="answer">Answer</label>
        </div>

        <div class="row">
            <div class="col-12">
                <label for="category_id">Category</label>
                <select id="category_id" name="category_id" class="form-control validate" required>
                    <option value="" disabled>Choose Category</option>
                    {% for category in categories %}
                        {% if category == question.category %}
                            <option value="{{ category.id }}" selected>{{ category.category_name }}</option>
                        {% else %}
                            <option value="{{ category.id }}">{{ category.category_name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>

        <!-- submit button -->
        <button type="submit" class=" form-control btn btn-primary wide-button">Save Answer <i class="fa-solid fa-pen right"></i></button>
    </form>
</div>

{% endblock %}
