{% extends "base.html" %}
{% block content %}

<h3>Categories</h3>
<div class="container-fluid">

    <div class="row">
        <div class="col">
            <a href="{{ url_for('add_category') }}" class="btn btn-primary wide-button">Add Category <i class="fa-solid fa-square-plus right"></i></a>
        </div>
    </div>

    <div class="row">
        {% for category in categories %}
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">{{ category.category_name }}</h5>
                    <div class="row">
                        <div class="col-6">
                            <a href="{{ url_for('edit_category', category_id=category.id) }}" class="btn btn-warning uppercase wide-button">Edit</a>
                        </div>
                        <div class="col-6">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-danger uppercase wide-button" data-bs-toggle="modal" data-bs-target="#modal-{{ category.id }}">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="modal-{{ category.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Category</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    <p>This will also remove any questions in the {{ category.category_name }} category</p>
                    <p>Are you sure?</p>                    
                    </div>
                    <div class="modal-footer">
                        <a href="{{ url_for('delete_category', category_id=category.id) }}" class="btn btn-danger uppercase wide-button">Delete</a>
                        <button type="button" class="btn btn-primary uppercase wide-button" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}

    </div>
</div>

{% endblock %}