{% extends "base.html" %}
{% block content %}

{% if session['user']: %}
    <div class="row">
        <div class="col">
            <a href="{{ url_for('add_question') }}" class="btn btn-primary wide-button">Ask a Question 
                <i class="fa-solid fa-question"></i></a>
        </div>
    </div>
{% else %}
<div class="row">
    <div class="col">
        <a href="#" class="btn btn-primary wide-button" data-bs-toggle="modal" data-bs-target="#modal">Ask a Question 
            <i class="fa-solid fa-question"></i></a>
    </div>
</div>
{% endif %}

<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="ModalLabel">User not logged in</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>You need to be logged in to ask a question</p>
                <p>Do you need to log in or create an account?</p>                    
            </div>
            <div class="modal-footer">
                <a href="{{ url_for( 'register' ) }}" class="btn btn-info uppercase wide-button">Register</a>
                <a href="{{ url_for( 'login' ) }}" class="btn btn-info uppercase wide-button">Log In</a>
                <a href="#" class="btn btn-danger uppercase wide-button" data-bs-dismiss="modal" aria-label="Close">Cancel</a>
            </div>
        </div>
    </div>
</div>

<!-- Outer Accordion Categories -->
{% for category in categories %}
<div class="accordion" id="categoryAccordion">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ category.id }}" aria-expanded="false" aria-controls="collapseOne">
                {{ category.category_name }}
            </button>
        </h2>
        <!-- Inner Accordion Category -->
        <div id="collapse-{{ category.id }}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#categoryAccordion">
            <div class="accordion-body">
                <div class="accordion" id="sub-accordionExample">
                    <!-- Inner Question -->
                    {% for question in questions %}
                        {% if question.category_id == category.id %}
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="sub-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sub-collapse-{{ question.id }}" aria-expanded="false" aria-controls="collapseOne">
                                    {{ question.question }}
                                </button>
                            </h2>
                            <div id="sub-collapse-{{ question.id }}" class="accordion-collapse collapse" aria-labelledby="sub-headingOne" data-bs-parent="#sub-accordionExample">
                                <div class="accordion-body">
                                    {{ question.answer }}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
