{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class="col">
      <a href="{{ url_for('add_question') }}" class="btn btn-primary wide-button">Ask a Question <i class="fa-solid fa-question"></i></a>
  </div>
</div>


<div class="accordion" id="accordionExample">
  {% for question in questions %}
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{question.id}}" aria-expanded="true" aria-controls="collapseOne">
        {{ question.question }}
      </button>
    </h2>
    <div id="collapse-{{question.id}}" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        {{ question.answer }} {{ question.category }}
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}