{% extends "base.html" %}
{% block content %}

<header class="hero-image" title="Header image of the sea">
    <div class="hero-text">
        <h2 class="center-align">Backstagecrew Internet Services</h2>
        <h4>IT Consultancy</h4>
        <p>Working to support you</p>
        <a href="{{ url_for( 'contact' ) }}" class="btn btn-primary">Contact Us</a>
    </div>
</header>

<section class="row">
    <div class="col-12">
        <h4>About Backstagecrew</h4>
        <h5>Here to help you with your IT needs</h5>
        <p>We understand that you are very busy running your business and have little time to spend working on a website. We take on the tasks of designing, coding and maintaining your online presence, giving you more time to concentrate on your own clients. As a small business, we only take on a limited number of clients at any time so we always have the resources to give you the personal service you need.</p>
        <p>We offer the full package including registering your domain name and providing hosting. We pride ourselves in making your website look good and keeping it up-to-date. We'll even send you reminders when your content needs updating. </p>
        <p>Our support packages are tailored to your needs. Whether you need the occasional call to put something right or a comprehensive remote support package, we can come up with the deal to suit you.</p>
        <p>If you prefer to do things for yourself, we can highly recommend a web host for your site.</p>
        <p>Other services we can provide include; Event Support and Design &amp; Procurement Services</p>
    </div>
</section>

<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title center-align card-image"><i class="fa-solid fa-sitemap fa-2xl"></i></h5>
                <h5 class="card-title center-align">Simple Design</h5>
                <p class="card-text">Our basic sites are designed to give you a presence online with little or no maintenance.</p>
                <p class="card-text">Registration and hosting your website are included for the first year.</p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title center-align card-image"><i class="fa-solid fa-cog fa-2xl"></i></h5>
                <h5 class="card-title center-align">Managed Sites</h5>
                <p class="card-text">We can update your site on a regular basis to keep it up-to-date.</p>
                <p class="card-text">Our managed packages are tailored to your needs and priced accordingly</p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title center-align card-image"><i class="fa-solid fa-database fa-2xl"></i></h5>
                <h5 class="card-title center-align">Database Design</h5>
                <p class="card-text">We can create and integrate a database into your site to allow you to process data more effectively.</p>
                <p class="card-text">Includes data analysis and database design, site hosting and maintenance.</p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title center-align card-image"><i class="fa-solid fa-ambulance fa-2xl"></i></h5>
                <h5 class="card-title center-align">Event Support</h5>
                <p class="card-text">We can attend your event with our mobile office and supply equipment and support.</p>
                <p class="card-text">We stock a variety of equipment at competitive rates. We also have deals in place with a selection of equipment suppliers.</p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title center-align card-image"><i class="fa-brands fa-wordpress fa-2xl"></i></h5>
                <h5 class="card-title center-align">Wordpress &amp; Joomla</h5>
                <p class="card-text">We offer a comprehensive support package for Wordpress &amp; Joomla websites including version control, updating, regular backups and monitoring.</p>
                <p class="card-text">You are still able to update the content, while we take care of the maintenance.</p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title center-align card-image"><i class="fa-solid fa-headset fa-2xl"></i></h5>
                <h5 class="card-title center-align">Remote Support Package</h5>
                <p class="card-text">Our support service offers a rapid response to your IT issues.
                    <br>No more waiting around for the 'IT Guy' to arrive.</p>
                <p class="card-text">This service is available for a set fee or on a monthly subscription basis.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
