{% extends "base.html" %}
{% block content %}
    <!-- Profile header -->
    <div class="container-fluid row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <h3 class="center-align">{{ username }}'s Profile</h3>
        </div>
    </div>

    <div class="row container-fluid">
        <h4>Your questions</h4>
    </div>

    {% for question in questions %}
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ question.question }}</h5>
                            <p class="card-text">{{ question.answer }}</p>
                        <div class="row">
                            <div class="col-3 offset-9">
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-danger uppercase wide-button" data-bs-toggle="modal" data-bs-target="#modal-{{ question.id }}">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>                 
        </div>

        <!-- Login Modal -->
        <div class="modal fade" id="modal-{{ question.id }}" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="ModalLabel">Delete Question</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    <p>This will also remove this question and the answer from our site.</p>
                    <p>Are you sure?</p>                    
                    </div>
                    <div class="modal-footer">
                        <a href="{{ url_for('delete_question', question_id=question.id) }}" class="btn btn-danger uppercase wide-button">Delete</a>
                        <button type="button" class="btn btn-primary uppercase wide-button" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}   

    <!-- Delete account -->
    <div>
        <button type="button" class="btn btn-danger uppercase wide-button" data-bs-toggle="modal" data-bs-target="#AccountModal">Delete Account</button>
    </div>

    <!-- Delete Account Modal -->
    <div class="modal fade" id="AccountModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="ModalLabel">Delete Account</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                <p>This will also remove all your questions from our site.</p>
                <p>Are you sure?</p>                    
                </div>
                <div class="modal-footer">
                    <a href="{{ url_for('delete_account', userid=userid) }}" class="btn btn-danger uppercase wide-button">Delete</a>
                    <button type="button" class="btn btn-primary uppercase wide-button" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}